@page "/"

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

a:link {
  text-decoration: none;
}

.site-dark-theme {
  background-color: rgb(34, 40, 49);
}

.collection {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(3, minmax(250px,500px));
  grid-template-rows: repeat(auto-fill, 240px);
  justify-content: center;
  min-width: 0;
  width: 100%;
}

@@media (min-width: 2200px) {
  .collection {
    grid-template-columns: repeat(4, minmax(250px,500px));
  }
}

@@media (max-width: 1300px){
  .collection {
      grid-template-columns: repeat(2,1fr);
  }
}

@@media (max-width: 900px) {
  .collection {
    grid-template-columns: 1fr;
  }
}

.media-card {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: rgba(48, 71, 94, 0.5);
  border-radius: 5px;
  /*box-shadow: 0 4px 6px rgba(49,54,68,.05), 0 5px 20px rgba(49,54,68,.08);*/
  display: inline-grid;
  grid-template-columns: 165px auto;
  height: 240px;
  min-width: 400px;
  overflow: hidden;
  position: relative;
  text-align: left;
  transition: box-shadow .6s ease;
}

.cover {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  z-index: 10;
}

.cover-image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.type-plus-status {
  background: rgba(48, 71, 94, .85);
  color: rgba(238, 208, 158, 0.90);
  font-size: 1rem;
  font-weight: 550;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 100%;
}

.type-plus-status:hover {
  background: rgba(48, 71, 94, .95);
}

.media-card-data {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 40px;
  min-height: 0;
  min-width: 0;
}

.media-card-body {
  /*color: rgba(211,186,225, 1);*/
  display: flex;
  flex-direction: column;
  min-height: 0;
  padding-bottom: 5px;
  position: relative;
}

.media-card-heading {
  /*color: rgba(211,186,225, 1);*/
  display: grid;
  grid-template-columns: auto 50px;
  opacity: 1;
  z-index: 2;
  margin-left: 20px;
}

.publisher {
  color: rgba(238, 208, 158, 0.6);
  font-size: 0.7rem;
  font-weight: 400;
  padding-top: 5px;
}

.title {
  color: rgb(238, 208, 158);
  font-size: 1.4rem;
  font-weight: 590;
  line-height: 20px;
  margin-top: 2px;
  margin-bottom: -1px;
}

.creators {
  color: rgb(238, 208, 158);
  font-size: 0.8rem;
  font-weight: 400;
}

.desc {
  box-sizing: content-box;
  color: rgba(236, 236, 236, 0.8);
  display: block;
  font-size: 0.8rem;
  line-height: 1.6;
  margin-left: 20px;
  margin-top: 6px;
  transition: color .2s;
}

.desc-scroller {
  backface-visibility: hidden;
  border-radius: 20px;
  display: block;
  height: calc(100% - 10px);
  margin: 5px 5px 5px 0;
  transform: rotate3d(0,0,0,0);
  transition: background-color .1s ease-out,margin .1s ease-out,height .1s ease-out;
  position: absolute;
  top: 0px;
}

.desc-scroller-styling {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 20px;
  display: block;
  height: calc(100% - 10px);
  margin: 5px 5px 5px 0;
  transform: rotate3d(0,0,0,0);
  transition: background-color .1s ease-out,margin .1s ease-out,height .1s ease-out;
}

.media-card-note-button {
  background-color: rgba(48, 71, 94, .5);
  color: rgb(238, 208, 158);
  margin-top: 9px;
  height: 30px;
  font-size: 18px;
  border: 2px solid rgba(236, 236, 236, 0.8);
  width: 30px;
  border-radius: 7px;
  margin-left: 22px;
  font-weight: 400;
  position: relative;
}

.media-card-note-button:hover {
  background-color: rgba(238, 208, 158, 0.5);
  color: /*rgba(48, 71, 94, .95)*/black;
}

.scroller {
  color: rgba(211,186,225, 0.8);
  position: relative;
  overflow: hidden;
}

.scroll-wrap {
  display: block;
  overflow: hidden scroll;
  height: 100%;
  width: 101%;
  box-sizing: content-box;
  padding-right: 20px;
}

.media-card-collection-progress {
  background: rgba(57, 62, 70, .5);
  display: grid;
  grid-template-columns: auto 70px;
  position: relative;
  width: 100%;
}

.media-card-collection-progress p {
  color: rgb(57, 62, 70);
  font-size: 0.9rem;
  font-weight: 550;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  margin-top: 10px;
  margin-left: 2-5px;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
}

.media-card-collection-progress:hover p {
  opacity: 0.9;
  visibility: visible;
  color: rgb(238, 208, 158);
  display: grid;
  text-align: center;
  margin-left: 185px;
}

progress {
  border: 3px solid rgba(238, 208, 158, 0.8);
  border-radius: 30px;
  width: 94%;
  height: 25px;
  position: static;
  margin-left: 20px;
  margin-top: 8px;
}

progress::-webkit-progress-bar {
  background-color: transparent;
  border-radius: 30px;
}

progress::-webkit-progress-value {
  background-color: rgba(236, 236, 236, 0.6);
  border-radius: 30px;
}

.media-card-collection-label {
  color: rgb(238, 208, 158);
  background-color: transparent;
  display: grid;
  grid-template-rows: 20px auto;
  position: relative;
  width: 100%;
}

.media-card-collection-label-text {
  margin-top: 3px;
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  display: grid;
}

.media-card-collection-label-button-minus {
  background-color: transparent;
  color: rgb(238, 208, 158);
  font-size: 30px;
  border: 0px;
  font-weight: bold;
  margin-left: 37px;
  display: flex;
  margin-top: -42px;
}

.media-card-collection-label-button-minus:focus {
  outline: none;
}

.media-card-collection-label-button-plus {
  background-color: transparent;
  color: rgb(238, 208, 158);
  border: 0px;
  font-size: 19px;
  font-weight: 550;
  margin-left: 10px;
  margin-top: -6px;
  display: flex;
}

.media-card-collection-label-button-plus:focus {
  outline: none;
}

</style>

<body class="site-dark-theme">
  <div class="collection-heading">
    <div class="collection">
      <div class="media-card">
        <a href="https://anilist.co/manga/118586/Sousou-no-Frieren/" class="cover">
            <img src="https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/bx82005-hw4GjRGAvcpG.jpg" alt="Sousou no Frieren Vol 1 Cover" class="cover-image">
            <div class="type-plus-status">Manga | Ongoing</div>
        </a>
        <div class="media-card-data">
          <div class="scroller">
            <div class="scroll-wrap">
              <div class="media-card-body">
                <div class="media-card-heading">
                  <div>
                    <div class="publisher">Shogakukon</div>
                    <div class="title" @onclick="ShowNativeTitle">@displayedTitle</div>
                    <div class="creators">Hashimoto Eiji | Umemura Shinya</div>
                  </div>
                  @if (VolumesPurchased < MaxVolumes) {
                    <button class="media-card-note-button" @onclick="IncrementCount" type="button">+</button>
                  }
                  else {
                    <button class="media-card-note-button" @onclick="IncrementCount" type="button" disabled>+</button>
                  }
                </div>
                <span class="desc">In 1912, a young woman tracks down the elderly Nagakura Shinpachi, determined to hear the true story of the Demon of the Shinsengumi, the Vice Commander Hijikata Toshizou. Hijikata's story begins in 1859, when he is a violent young man that is honing his sword skills while peddling his family's medicine. Soon, in his quest to find stronger people to fight, Hijikata starts to come into contact with others who will eventually be his comrades in the Shinsengumi. The first one to make an impression on the brash young man is Kondo Isami, who proves to be a better fighter than Hijikata.</span>
              </div>
            </div>
            <div class="desc-scroller">
              <div class="desc-scroller-styling"></div>
            </div>
          </div>
          <div class="media-card-collection-progress">
            <progress value="@VolumesPurchased" max="@MaxVolumes"></progress>
            <div class="media-card-collection-label">
              <label class="media-card-collection-label-text">@VolumesPurchased/@MaxVolumes</label>
              <div>
                @if (VolumesPurchased == MaxVolumes) {
                  <button class="media-card-collection-label-button-plus" @onclick="IncrementCount" type="button" disabled>+</button>
                }
                else {
                  <button class="media-card-collection-label-button-plus" @onclick="IncrementCount" type="button">+</button>
                }
                @if (VolumesPurchased == 0) {
                  <button class="media-card-collection-label-button-minus" @onclick="DecrementCount" type="button" disabled>-</button>
                }
                else {
                  <button class="media-card-collection-label-button-minus" @onclick="DecrementCount" type="button">-</button>
                }
              </div>
            </div>
            <p class="media-card-collection-progress-percentage">@CalculatePercentage()%</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

@code {
  @using System;

  private string romajiTitle = "Chiruran: Shinsengumi Requiem";
  private string nativeTitle = "新撰组镇魂歌";
  private bool toggle = true; //True means it's in Romaji, False means it's in Native
  private string displayedTitle = "Chiruran: Shinsengumi Requiem";
  private short VolumesPurchased = 112;
  private short MaxVolumes = 112;
  private string currTitle;

  //Changes the title between arabic (romaji) and logographic (native) japanese
  private void ShowNativeTitle(){
    if (toggle){
      displayedTitle = nativeTitle;
      toggle = false;
    }
    else {
      displayedTitle = romajiTitle;
      toggle = true;
    }
  }

  //Gets the current title so it gets the right CSS
  private string CurrentTitle(){
    currTitle = toggle ? ".arabic" : ".logographic";
    return currTitle;
  }

  private void DecrementCount() {
    VolumesPurchased--;
  }

  private void IncrementCount() {
    VolumesPurchased++;
  }

  private double CalculatePercentage(){
    return Math.Round((((double)VolumesPurchased / MaxVolumes) * 100), 0);
  }
}

@* <SurveyPrompt Title="How is Blazor working for you?" /> *@
